

<form method="POST">
    <div class="form-group">
      <label for="product">Search for Products</label>
      <input
        type="text"
        id="product"
        name="product"
        class="form-control"
        placeholder="Search for products"
        required
      />
    </div>
    
    <button type="submit" class="btn btn-primary btn-block">Search</button>
    </form>